header{
    font-size: 20px;
    font-weight: bolder;
    background-color: cyan;
}
nav{
    float: left;
    width: 200px;
    background-color: darkslategrey;
    color: white;
}
aside{
    float: right;
    width: 300px;
    background-color: cadetblue;
}
.the_div{
    margin: 0 100px 0 200px;
    width: 60%;   
    background-color: turquoise;
}